body{
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(161, 178, 197);
}
h1{
    font-size: 75px;
    color: rgba(209, 32, 41, 0.733);
    
}
h3{
    margin-top: 20px;
    font-size: 50px;
}

#snackbar {
    visibility: hidden; 
    min-width: 250px; 
     
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    border-radius: 2px; 
    padding: 16px; 
    position: fixed; 
    z-index: 1; 
    margin-left: 535px; 
    bottom: 30px; 
}
#snackbar.show {
    visibility: visible; 
    -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
    animation: fadein 0.5s, fadeout 0.5s 1.0s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

#score{
     text-align: right;
     width:200px;
     margin-left:1000px;
     
     border: 2px solid black;
}
.scoreKeeper{
    margin-left: 25%;
    font-size: 30px;
    
}
table{
    width:500px;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
    border: none;
    padding: 5px;
}
td{
    font-size: 25px;
    width:2%;
    text-align: center;
}
#start{
    margin-top: 90px;
    font-size:30px;
    margin-bottom: auto;
}
.home{
    margin-top:10px
}
#myCanvas{
    margin-top: 20px;
    background-color: rgb(95, 71, 92);
}
input{
    background-color: transparent;
    border:none;
}
#answer{
    font-size: 35px
    
}
form{
    margin-left: 230px;
    margin-right: auto;
}
